body {
    text-align: center;
    background: url(../texture3b.jpg);
    
    }
    #game {
    background: #9c9;
    padding: 5px;
    }
    /* Define the 3D perspective view and dimension of each card. */
    .card {
    -webkit-perspective: 600;
    width: 113px;
    height: 150px;
    }
    
    .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: all .3s;
    -webkit-backface-visibility: hidden;
    }
    
    .front {
    background: url(../images/cardback.png);
    z-index: 10;
    }
    .back {
    background: url(../images/cardback.png);
    -webkit-transform: rotate3d(0,1,0,-180deg);
    z-index: 8;
    }
    
    .card-flipped .front {
        -webkit-transform: rotate3d(0,1,0,180deg);
        z-index: 8;
    }
    .card-flipped .back {
        -webkit-transform: rotate3d(0,1,0,0deg);
        z-index: 10;
    }
.cardAK {
	background: url(../images/kimtaehyung1.jpg);
}
.cardAQ {
	background: url(../images/leejongsuk1.jpg);
}